<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <header>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-9">
        <a href="/" class="header-left header-link cursor">Lars</a>
      </div>
      <div class="col-md-9 col-sm-6 col-3">
        <div class="d-flex justify-content-end head">
          {% if request.user.is_authenticated %}
            <div id="nav-wrapper" class="nav-wrapper">
              <div class="hamburger" id="js-hamburger">
                <span class="hamburger__line hamburger__line--1"></span>
                <span class="hamburger__line hamburger__line--2"></span>
                <span class="hamburger__line hamburger__line--3"></span>
              </div>
              <nav class="sp-nav">
                <ul>
                  <li><a href="/event" class="header-right header-link cursor">作成</a></li>
                  <li><a href="/chat_list" class="header-right header-link cursor" id="chat-link">チャット</a></li>
                  <li><a href="/request_list" class="header-right header-link cursor" id="requests-link">リスト</a></li>
                  <li><a href="/search" class="header-right header-link">検索</a></li>
                  <li><a href="/profile/{{ request.user.id }}" id="profile-link" class="header-right header-link">プロフィール</a></li>
                  <li>
                    <form method="post" action="/logout_view/">
                      {% csrf_token %}
                      <button type="submit" class="btn">ログアウト</button>
                    </form>
                  </li>
                </ul>
              </nav>
              <div class="black-bg" id="js-black-bg"></div>
            </div>

            <nav class="navigation-menu">
              <a href="/event" class="header-right header-link cursor">作成</a>
              <a href="/chat_list" class="header-right header-link cursor" id="nav-chat-link">チャット</a>
              <a href="/request_list" class="header-right header-link cursor" id="nav-requests-link">リスト</a>
              <a href="/search" class="header-right header-link">検索</a>
              <a href="/profile/{{ request.user.id }}" id="nav-profile-link" class="header-right header-link">プロフィール</a>
              <form method="post" action="/logout_view/" class="logout-btn">
                {% csrf_token %}
                <button type="submit" class="btn btn-light">ログアウト</button>
                {% if request.user.is_guest %}
                  <span class="logout-popup">ログアウトするとゲストユーザーは削除されます</span>
                {% endif %}
              </form>
            </nav>
          {% else %}
            <div id="nav-wrapper" class="nav-wrapper">
              <div class="hamburger" id="js-hamburger">
                <span class="hamburger__line hamburger__line--1"></span>
                <span class="hamburger__line hamburger__line--2"></span>
                <span class="hamburger__line hamburger__line--3"></span>
              </div>
              <nav class="sp-nav">
                <ul>
                  <li><a href="/guest_login" class="header-right header-link">ゲスト</a></li>
                  <div class="logout-btn">
                    <li><a href="/signup" class="header-right header-link">新規登録</a></li>
                    <span class="phone-logout-popup">ログイン画面ではGoogleからのログインもできます</span>
                  </div>
                  <li><a href="/login_view" class="header-right header-link">ログイン</a></li>
                </ul>
              </nav>
              <div class="black-bg" id="js-black-bg"></div>
            </div>

            <nav class="navigation-menu">
              <a href="/guest_login" class="header-right header-link">ゲスト</a>
              <div class="logout-btn">
                <a href="/signup" class="header-right header-link">新規登録</a>
                <span class="logout-popup">ログイン画面ではGoogleからのログインもできます</span>
              </div>
              <a href="/login_view" class="header-right header-link">ログイン</a>
            </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </header>　

  <div class="content">
    {% block content %}{% endblock %}
  </div>
　　
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <script>
    var currentUserId = '{{ request.user.id }}';
  </script>


</body>
</html>