{% extends "base.html" %}
{% block title %}チャット{% endblock %}
{% block content %}
<div class="container col-md-6">
  <div class="chat-wrapper">
    <div class="chat-full-container">
      {% if chat_messages %}
        {% for chat in chat_messages %}
          <div class="chat-content">
            {% if chat.sender == request.user %}
              <div id="message-{{ chat.id }}" class="sender-last-message">
                {% if sender_last_message.id == chat.id %}
                  <span class="chat-current-delta read-mark"{% if not chat.read %} style="display:none;"{% endif %}>既読</span>
                {% endif %}
                <p class="chat-current-delta">{{ chat.delta }}</p>
              </div>
              <p class="sender-chat">{{ chat.message }}</p>
            {% else %}
              <a href="/profile/{{ chat.sender.id }}">
                <img src="{{ chat.sender.profile.image.url }}" alt="{{ chat.sender.profile.username }}" class="chat-room-image">
              </a>
              <p class="receiver-chat">{{ chat.message }}</p>
              <p class="chat-other-delta">{{ chat.delta }}</p>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <div class="centered-container">
          <p>まだチャットが存在していません。<br>何か送ってみましょう</p>
        </div>
      {% endif %}
      <div class="chat-container"></div>
    </div>
    <div class="chat-input">
      <input id="chat-message-input" class="chat-message-input" type="text" placeholder="チャット...">
      <i id="chat-message-submit" class="fa-solid fa-arrow-up-from-bracket send-awesome"></i>
    </div>
  </div>
</div>

<script>
    var image = "{{ request.user.profile.image.url }}";
    var roomName = "{{ room_name }}";
    var sender_id = "{{ current_user.id }}";
    var receiver_id = "{{ other_user.id }}";
</script>
{% endblock %}