{% extends "base.html" %}
{% block title %}チャット{% endblock %}
{% block content %}
<div class="container col-md-6">
  <div class="chat-wrapper">
    <div class="chat-full-container">
      {% if chat_messages %}
        {% for chat in chat_messages %}
        <div class="chat-content">
          <a href="/profile/{{ chat.sender.id }}">
            <img src="{{ chat.sender.profile.image.url }}" alt="{{ chat.sender.profile.username }}" class="request-image-size">
          </a>
          <p class="chat-page">{{ chat.message }}</p>
          <p class="chat-delta">{{ chat.delta }}</p>
        </div>
        {% endfor %}
      {% endif %}
      <div class="chat-container"></div>
    </div>
    <div class="chat-input">
      <input id="chat-message-input" type="text" size="50"><br>
      <button id="chat-message-submit" class="chat-btn">送信</button>
    </div>
  </div>
</div>

{{ send.delta }}
<script>
    var image = "{{ request.user.profile.image.url }}";
    var delta = "{{ send.delta }}";
    var roomName = "{{ room_name }}";
    var sender_id = "{{ current_user.id }}";
    var receiver_id = "{{ other_user.id }}";
</script>
{% endblock %}