{% extends "base.html" %}
{% block title %}プロフィール{% endblock %}
{% block content %}
<div class="container col-md-9">
  <div class="profile-container">
    <div class="profile-info">
      <div class="profile-image-link">
        <img src="{{ profile.image }}" alt="{{ profile.username }}" class="profile-image-size profile-image-modal">
        {% if request.user == profile.user %}
          <a href="/profile_edit" class="profile-edit">プロフィール編集</a>
        {% endif %}
        {% if request.user != profile.user %}
          <a class="follow" id="follow-button" data-following="{{ is_following }}" onclick="followButtonClicked()">フォロー</a>
        {% endif %}
      </div>
      <p class="profile-username">{{ profile.username }}</p>
    </div>

    <div class="phone-profile-info">
      <img src="{{ profile.image.url }}" alt="{{ profile.username }}" class="profile-image-size profile-image-modal">
      <div class="phone-profile-info-content">
        <p class="profile-username">{{ profile.username }}</p>
        {% if request.user == profile.user %}
          <a href="/profile_edit" class="profile-edit">プロフィール編集</a>
        {% endif %}
        {% if request.user != profile.user %}
          <a class="follow" id="follow-button" data-following="{{ is_following }}" onclick="followButtonClicked()">フォロー</a>
        {% endif %}
      </div>
    </div>

    <div class="profile-top">
      <div class="follow-count">
        <a class="profile-follow" data-bs-toggle="modal" data-bs-target="#followmodal">フォロー中：{{ follows.count }}</a>
        <a class="profile-follower" id="followed-by" data-bs-toggle="modal" data-bs-target="#followermodal">フォロワー：{{ followers.count }}</a>
      </div>
      <p>地域：{{ profile.residence }}</p>
      <p>年齢：{{ profile.age }}</p>
      <p>性別：{{ profile.gender }}</p>
      <p class="profile-content">メッセージ：{{ profile.content }}</p>
    </div>

    <div class="hobby-interest">
      <p>趣味</p>
      <ul>
        {% for hobby in hobbies %}
          <li class="hobby-list">{{ hobby.name }}</li>
        {% endfor %}
      </ul>
      <p>興味</p>
      <ul>
        {% for interest in interests %}
          <li class="interest-list">{{ interest.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="separator"></div>

  <ul class="nav request-nav calendar-tab" id="myTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link header-right active" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
        カレンダー
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link header-right" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
        作成済みの提案
      </a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!--カレンダータブ-->
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
      <div class="calendar-container">
        <div id="calendar"></div>
      </div>
    </div>

    <!--作成済みの提案タブ-->
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      <div class="row row-cols-2 row-cols-md-4 g-4">
        {% for event in events %}
          <div class="col">
            <div class="card event-card event-modal" data-event-id="{{ event.id }}">
              <img src="{{ event.image.url }}" alt="イベント画像" class="event-card-size">
              <div class="card-body card-b">
                <p class="card-text black">{{ event.title }}</p>
                <p class="card-text"><small class="text-muted">{{ event.place }}</small></p>
              </div>
              <div class="card-f">
                <img src="{{ profile.image.url }}" alt="{{ profile.username }}" class="event-image-size">
                <p class="card-name">{{ profile.username }}</p>
                <p class="chat-delta">{{ event.delta }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!--提案詳細モーダル-->
  <div class="modal fade event-modal" id="eventmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="card-modal">
          <div class="card-modal-left">
            <img src="" alt="イベント画像" class="card-modal-image">
          </div>
          <div class="card-modal-right">
            <div class="card-modal-profile">
              <img src="" alt="プロフィール画像" class="card-modal-image-size">
              <p class="card-modal-name">{{ profile.username }}</p>
              <p class="chat-delta"></p>
            </div>
            <div class="card-details">
              <p class="title"></p>
              <p class="place"></p>
              <p class="date"></p>
              <p class="time"></p>
              <p class="detail"></p>
            </div>

            <div class="card-edit-btn">
              <button class="approval-btn" data-bs-toggle="modal" data-bs-target="#card_editing_modal">編集</button>
              <form action="" method="post">
                {% csrf_token %}
                <button type="submit" name="buttonType" class="rejection-btn" value="削除">削除</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!--編集モーダル-->
  <div class="modal fade" id="card_editing_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">イベント編集</p>
          <span id="close_modal_btn" class="close-btn">✖️</span>
        </div>
        <div class="modal-body">
          <form action="" class="event-edit-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="image" class="event-label">トップ画像（任意）</label>
              <input type="file" class="form-control" id="image" name="image" accept="image/*">
            </div>
            <br>
            <div class="form-group">
              <label for="title" class="event-label">タイトル（活動内容）</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <br>
            <div class="form-group">
              <label for="place" class="event-label">場所</label>
              <input type="text" class="form-control" id="place" name="place">
            </div>
            <br>
            <div class="form-group">
              <label for="datetime" class="event-label">日時</label>
              <input type="text" class="form-control" id="datetime" name="datetime">
            </div>
            <br>
            <div class="form-group">
              <label for="category" class="event-label">カテゴリー</label>
              <select class="form-control" id="category" name="category">
                <option value="" selected>選択してください</option>
                <option value="アウトドア">アウトドア</option>
                <option value="カフェ巡り">カフェ巡り</option>
                <option value="カラオケ">カラオケ</option>
                <option value="ガーデニング">ガーデニング</option>
                <option value="ゲーム">ゲーム</option>
                <option value="サイクリング">サイクリング</option>
                <option value="ショッピング">ショッピング</option>
                <option value="スポーツ">スポーツ</option>
                <option value="スポーツ観戦">スポーツ観戦</option>
                <option value="ダンス">ダンス</option>
                <option value="トレーニング">トレーニング</option>
                <option value="ドライブ">ドライブ</option>
                <option value="ハイキング">ハイキング</option>
                <option value="ペット">ペット</option>
                <option value="写真">写真</option>
                <option value="写真撮影">写真撮影</option>
                <option value="手芸">手芸</option>
                <option value="手芸・DIY">手芸・DIY</option>
                <option value="料理">料理</option>
                <option value="旅行">旅行</option>
                <option value="映画">映画</option>
                <option value="映画鑑賞">映画鑑賞</option>
                <option value="絵画">絵画</option>
                <option value="読書">読書</option>
                <option value="釣り">釣り</option>
                <option value="音楽">音楽</option>
                <option value="音楽鑑賞">音楽鑑賞</option>
                <option value="その他">その他</option>
              </select>
              <br>
              <div class="form-group">
                <label for="detail" class="event-label">詳細情報（任意）</label>
                <textarea class="form-control" id="detail" name="detail"></textarea>
              </div>
              <br>
              <button type="submit" class="confirm-card-btn">編集</button>
            </div>
          </form>

          <!--日付選択モーダル-->
          <div class="modal fade cursor" id="datetimemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="modal-title">日付選択</p>
                </div>
                <div class="modal-body">
                  <div id="date-calendar"></div>
                </div>
              </div>
            </div>
          </div>

          <!--時間選択モーダル-->
          <div class="modal fade" id="timemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="modal-title">時間選択</p>
                </div>
                <div class="modal-body">
                  <div id="time-calendar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--フォローモーダル-->
  <div class="modal fade follow-modal" id="followmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">フォロー中</p>
        </div>
        <div class="modal-body">
          <div class="follow-modal-content">
            {% for follow in follows %}
              <a href="/profile/{{ follow.user.id }}" class="follow-link">
                <img src="{{ follow.image.url }}" alt="{{ follow.username }}" class="follow-image-size">
                {{ follow.username }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--フォロワーモーダル-->
  <div class="modal fade follow-modal" id="followermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">フォロワー</p>
        </div>
        <div class="modal-body">
          <div class="follow-modal-content">
            {% for follower in followers %}
              <a href="/profile/{{ follower.user.id }}" class="follower-link">
                <img src="{{ follower.image.url }}" alt="{{ follower.username }}" class="follow-image-size">
                {{ follower.username }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--カレンダーモーダル-->
  <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel">暇な時間を入力してください</h5>
          <form action="/delete_calendar/" method="post">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ profile.user.id }}">
            <input type="hidden" id="deleteDate" name="deleteDate" value="">
            <button type ="submit" class="btn btn-danger" id="deleteEvent">削除</button>
          </form>
        </div>
        <div class="modal-body">
          <form action="/calendar/" method="post">
            {% csrf_token %}
            <input type="hidden" id="selectedDate" name="selectedDate" value="">
            <div class="form-group">
              <label for="free" class="calendar-label">予定</label>
              <select class="form-control free" id="eventTitle" name="free">
                  <option value="">選択してください</option>
                  <option>全日</option>
                  <option>部分</option>
              </select>
            </div>

            <div class="form-group" id="timeSelectGroup" style="display: none;">
              <label for="time" class="calendar-label">時間</label>
              <input type="text" class="form-control" id="time" name="time" value="">
            </div>

            <div class="form-group" id="messageSelectGroup">
              <label for="message" class="calendar-label">メッセージ</label>
              <input type="text" class="form-control" id="message" name="message" placeholder="任意です" value="">
            </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="saveEvent">保存</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--部分的な時間を選択するモーダル-->
  <div class="modal fade" id="partialmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">部分的な時間</p>
        </div>
        <div class="modal-body">
          <div id="partial-modal-content"></div>
        </div>
      </div>
    </div>
  </div>

  <!--他ユーザーカレンダーモーダル-->
  <div class="modal fade" id="otherUserModal" tabindex="-1" role="dialog" aria-labelledby="otherUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content other-modal">
        <div class="modal-header">
          <div id="selectedData" class="modal-selected"></div>
        </div>
        <div class="modal-body">
          <span>予定：</span><p id="otherUserData" class="otheruser-data"></p>
          <span>時間：</span><p id="timeData" class="otheruser-data"></p>
          <span>メッセージ：</span><p id="messageData" class="otheruser-data"></p>
          <a id="intentionalBtn" class="intentional-btn" data-key="{{ profile.user.id }}" onclick="requestClicked()">ヒマリク</a>
        </div>
      </div>
    </div>
  </div>

  <!--画像用モーダル-->
  <div id="modal" class="modal">
    <img id="modal-image" src="" alt="Full Image" class="modal-image">
  </div>
</div>

<script>
  var userId = '{{ profile.user.id }}';
  var csrfToken = '{{ csrf_token }}';
  var currentUser = '{{ current_user|yesno:"true,false"  }}';
</script>
{% endblock %}