{% extends "base.html" %}
{% block title %}プロフィール{% endblock %}
{% block content %}
<div class="container col-md-6">
  <div class="profile-container">
    <div class="profile-info">
      {% if profile.image %}
        <img src="{{ profile.image.url }}" alt="{{ profile.username }}" class="profile-image-size">
      {% else %}
        <div class="default-image"></div>
      {% endif %}

      <p class="profile-username">{{ profile.username }}</p>

      <div class="profile-button">


        <a href="/profile_edit" class="profile-edit">プロフィール編集</a>

        {% if request.user != profile.user %}
          <a class="follow" id="follow-button" data-following="{{ is_following }}" onclick="followButtonClicked()">フォロー</a>
        {% endif %}
      </div>
    </div>

    <div class="profile-top">
      <div class="follow-count">
        <p class="profile-follow">フォロー</p>
        <p>フォロワー</p>
      </div>
      <p>{{ profile.age }}</p>
      <p>{{ profile.residence }}</p>
      <p>{{ profile.gender }}</p>
      <p class="profile-content">{{ profile.content }}</p>
    </div>

    <div class="hobby-interest">
      <ul>
        {% for hobby in hobbies %}
          <li class="hobby-list">{{ hobby.name }}</li>
        {% endfor %}
      </ul>
      <ul>
        {% for interest in interests %}
          <li class="interest-list">{{ interest.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}