{% extends "base.html" %}
{% block title %}リクエストリスト{% endblock %}
{% block content %}
<div class="container col-md-6">
  <ul class="nav request-nav" id="myTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link header-right active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
        リクエスト
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link header-right" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
        自動リクエスト
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link header-right" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">
        レスポンス
      </a>
    </li>
  </ul>

  {% if messages %}
    {% for message in messages %}
        <p class="response-message">{{ message }}</p>
    {% endfor %}
  {% endif %}

  <div class="tab-content" id="myTabContent">
    <!--リクエスト-->
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
      {% for user in request_users %}
        <div class="request-list">
          <a href="/profile/{{ user.sender.id }}" class="request-profile-link">
            <img src="{{ user.sender.profile.image.url }}" alt="{{ user.sender.profile.username }}" class="request-image-size">
          </a>
          <p>「{{ user.sender.profile.username }}」から「{{ user.userData|date:"Y-m-d" }}」に対してヒマリクが送られてきています</p>
        </div>

        {% if not user.is_processed %}
          <div class="request-btn">
            <form action="/process_button/{{ user.sender.id }}/" method="post">
              {% csrf_token %}
              <input type="hidden" name="userData" value="{{ user.userData|date:'Y-m-d' }}">
              <button type="submit" name="buttonType" class="approval-btn" value="承認する">承認する</button>
              <button type="submit" name="buttonType" class="rejection-btn" value="拒否する">拒否する</button>
            </form>
          </div>
        {% endif %}

        <div class="separator"></div>
      {% endfor %}
    </div>

    <!--自動リクエスト-->
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      {% for user in users %}
        <div class="request-list">
          <a href="/profile/{{ user.id }}" class="request-profile-link">
            <img src="{{ user.profile.image.url }}" alt="{{ user.profile.username }}" class="request-image-size">
          </a>
          <div>
            <p>「{{ user.profile.username }}」とは、暇な時間が一致しています</p>
            {% for key, value in user_first_match.items %}
              {% if user.id == key %}
                <p class="first-match-p">直近での一致は{{ value|date:"Y-m-d" }}です</p>
                <div id="selectedData-{{ key }}" style="display: none;">{{ value|date:"Y-m-d" }}</div>
                <a class="intentional-btn" data-key="{{ key }}" onclick="requestClicked(this)">ヒマリク</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="separator"></div>
      {% endfor %}
    </div>

    <!--レスポンス-->
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% for user in response_users %}
        <div class="response-list">
          <a href="/profile/{{ user.sender.id }}" class="request-profile-link">
            <img src="{{ user.sender.profile.image.url }}" alt="{{ user.sender.profile.username }}" class="request-image-size">
          </a>
          <p>
            「{{ user.sender.profile.username }}」から「{{ user.userData|date:"Y-m-d" }}」に対するリクエストに関して、<br>
            「{{ user.buttonType }}」と返答があります
          </p>
        </div>
        {% if user.buttonType == '承認する' %}
          <a href="chat" class="chat">個別チャットへ</a>
        {% endif %}
        <div class="separator"></div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  var csrfToken = '{{ csrf_token }}';
</script>

{% endblock %}