{% extends "base.html" %}
{% block title %}リクエストリスト{% endblock %}
{% block content %}
<div class="container col-md-6">
  <ul class="nav request-nav" id="myTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link header-right active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
        リクエスト
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link header-right" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
        レスポンス
      </a>
    </li>
  </ul>

  {% if messages %}
    {% for message in messages %}
        <p class="response-message">{{ message }}</p>
    {% endfor %}
  {% endif %}

  <div class="tab-content" id="myTabContent">
    <!--リクエスト-->
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
      {% if request_users %}
        {% for user in request_users %}
          <div class="request-list">
            <a href="/profile/{{ user.sender.id }}" class="request-profile-link">
              <img src="{{ user.sender.profile.image.url }}" alt="{{ user.sender.profile.username }}" class="request-image-size">
            </a>

            {% if user.eventId %}
              {% with event=user.eventId %}
                <div class="request-event-detail">
                  <p>「{{ user.sender.profile.username }}」から、あなたが作成した「{{ event.title }}」に対してヒマリクが送られてきています</p>
                  <a class="event-modal event-detail-link" data-key="{{ event.user.id }}" data-event-id="{{ event.id }}">イベント詳細</a>
                </div>
              {% endwith %}
            {% else %}
              <p>「{{ user.sender.profile.username }}」から「{{ user.userData|date:"Y-m-d" }}」に対してヒマリクが送られてきています</p>
            {% endif %}
          </div>

          {% if not user.is_processed %}
            <div class="request-btn">
              <form action="/process_button/{{ user.sender.id }}/" method="post">
                {% csrf_token %}
                {% if user.eventId %}
                  <input type="hidden" name="eventId" value="{{ user.eventId.id }}">
                {% else %}
                  <input type="hidden" name="userData" value="{{ user.userData|date:'Y-m-d' }}">
                {% endif %}
                <button type="submit" name="buttonType" class="approval-btn" value="承認する">承認する</button>
                <button type="submit" name="buttonType" class="rejection-btn" value="拒否する">拒否する</button>
              </form>
            </div>
          {% endif %}

          <div class="separator"></div>
        {% endfor %}
      {% else %}
        <div class="centered-container">
          <p>まだリクエストが存在していません。</p>
        </div>
      {% endif %}
    </div>

    <!--レスポンス-->
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      {% if response_users %}
        {% for user in response_users %}
          <div class="response-list">
            <a href="/profile/{{ user.sender.id }}" class="request-profile-link">
              <img src="{{ user.sender.profile.image.url }}" alt="{{ user.sender.profile.username }}" class="request-image-size">
            </a>
            {% if user.eventId %}
              {% with event=user.eventId %}
                <div class="request-event-detail">
                  <p>
                    「{{ user.sender.profile.username }}」から「{{ event.title }}」に対するリクエストに関して,
                    「{{ user.buttonType }}」とレスポンスがあります
                  </p>
                  <a class="event-modal event-detail-link" data-key="{{ event.user.id }}" data-event-id="{{ event.id }}">イベント詳細</a>
                </div>
              {% endwith %}
            {% else %}
              <p>
                「{{ user.sender.profile.username }}」から「{{ user.userData|date:"Y-m-d" }}」に対するリクエストに関して
                「{{ user.buttonType }}」とレスポンスがあります
              </p>
            {% endif %}
          </div>
          {% if user.buttonType == '承認する' %}
            <a href="/chat/{{ user.sender.id }}" class="chat">個別チャットへ</a>
          {% endif %}
          <div class="separator"></div>
        {% endfor %}
      {% else %}
        <div class="centered-container">
          <p>まだレスポンスが存在していません。</p>
        </div>
      {% endif %}
    </div>

    <!--提案詳細モーダル-->
    <div class="modal fade event-modal" id="eventmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="card-modal">
            <div class="card-modal-left">
              <img src="" alt="イベント画像" class="card-modal-image">
            </div>
            <div class="card-modal-right">
              <div class="card-modal-profile">
                <a href="" class="top-card-modal">
                  <img src="" alt="プロフィール画像" class="card-modal-image-size">
                  <p class="card-modal-name"></p>
                </a>
                <p class="chat-delta"></p>
              </div>
              <div class="card-details">
                <p class="title"></p>
                <p class="place"></p>
                <p class="date"></p>
                <p class="time"></p>
                <p class="detail"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var csrfToken = '{{ csrf_token }}';
</script>

{% endblock %}