{% extends "base.html" %}
{% block title %}トップページ{% endblock %}
{% block content %}
<div class="container col-md-9">
  <div class="top-content">
    <div class="phone-size-recommendation" style="display: none;">
      <label for="recommendation" class="event-label">おすすめ</label>
      <select class="form-control" id="phone-size-recommendation" name="recommendation" onchange="searchRecom('phone')">
        <option value="" selected>選択してください</option>
        <option value="おすすめユーザー">おすすめユーザー</option>
        <option value="おすすめイベント">おすすめイベント</option>
      </select>
    </div>
    <div class="phone-size-category" style="display: none;">
      <div class="phone-size-category-list">
        <label for="category" class="event-label">カテゴリー</label>
        <select class="form-control" id="phone-size-category" name="category" onchange="searchCategory('phone')">
          <option value="" selected>選択してください</option>
          <option value="アウトドア">アウトドア</option>
          <option value="カフェ巡り">カフェ巡り</option>
          <option value="カラオケ">カラオケ</option>
          <option value="ガーデニング">ガーデニング</option>
          <option value="ゲーム">ゲーム</option>
          <option value="サイクリング">サイクリング</option>
          <option value="ショッピング">ショッピング</option>
          <option value="スポーツ">スポーツ</option>
          <option value="スポーツ観戦">スポーツ観戦</option>
          <option value="ダンス">ダンス</option>
          <option value="トレーニング">トレーニング</option>
          <option value="ドライブ">ドライブ</option>
          <option value="ハイキング">ハイキング</option>
          <option value="ペット">ペット</option>
          <option value="写真">写真</option>
          <option value="写真撮影">写真撮影</option>
          <option value="手芸">手芸</option>
          <option value="手芸・DIY">手芸・DIY</option>
          <option value="料理">料理</option>
          <option value="旅行">旅行</option>
          <option value="映画">映画</option>
          <option value="映画鑑賞">映画鑑賞</option>
          <option value="絵画">絵画</option>
          <option value="読書">読書</option>
          <option value="釣り">釣り</option>
          <option value="音楽">音楽</option>
          <option value="音楽鑑賞">音楽鑑賞</option>
          <option value="その他">その他</option>
        </select>
      </div>
    </div>

    <div class="top-left col-md-9">
      {% if users %}
        {% for user in users %}
          <div class="request-list">
            <a href="/profile/{{ user.id }}" class="request-profile-link">
              <img src="{{ user.profile.image.url }}" alt="{{ user.profile.username }}" class="request-image-size">
            </a>
            <div class="recommend-user">
              <p>「{{ user.profile.username }}」とは、暇な時間が一致しています</p>
              {% for key, value in user_first_match.items %}
                {% if user.id == key %}
                  <p class="first-match-p">直近での一致は{{ value|date:"Y-m-d" }}です</p>
                  <div id="selectedData-{{ key }}" style="display: none;">{{ value|date:"Y-m-d" }}</div>
                  <a class="intentional-btn" data-key="{{ key }}" onclick="requestClicked(this)">ヒマリク</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="separator"></div>
        {% endfor %}
      {% elif matched_events %}
        <div class="row row-cols-2 row-cols-md-3 g-4">
          {% for event in matched_events %}
            <div class="col">
              <div class="card event-card event-modal" data-event-id="{{ event.id }}" data-key="{{ event.user.id }}">
                <img src="{{ event.image.url }}" alt="{{ profile.username }}" class="event-card-size">
                <div class="card-body card-b">
                  <p class="card-text black">{{ event.title }}</p>
                  <p class="card-text"><small class="text-muted">{{ event.place }}</small></p>
                </div>
                <div class="card-f">
                  <img src="{{ event.user.profile.image.url }}" alt="{{ event.user.profile.username }}" class="event-image-size">
                  <p class="card-name">{{ event.user.profile.username }}</p>
                  <p class="chat-delta">{{ event.delta }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="row row-cols-2 row-cols-md-3 g-4">
          {% for event in events %}
            <div class="col">
              <div class="card event-card event-modal" data-event-id="{{ event.id }}" data-key="{{ event.user.id }}">
                <img src="{{ event.image.url }}" alt="{{ profile.username }}" class="event-card-size">
                <div class="card-body card-b">
                  <p class="card-text black">{{ event.title }}</p>
                  <p class="card-text"><small class="text-muted">{{ event.place }}</small></p>
                </div>
                <div class="card-f">
                  <img src="{{ event.user.profile.image.url }}" alt="{{ event.user.profile.username }}" class="event-image-size">
                  <p class="card-name">{{ event.user.profile.username }}</p>
                  <p class="chat-delta">{{ event.delta }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <!--提案詳細モーダル-->
      <div class="modal fade" id="eventmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="card-modal">
              <div class="card-modal-left">
                <img src="" alt="イベント画像" class="card-modal-image">
              </div>
              <div class="card-modal-right">
                <div class="card-modal-profile">
                  <a href="" class="top-card-modal">
                    <img src="" alt="プロフィール画像" class="card-modal-image-size">
                    <p class="card-modal-name"></p>
                  </a>
                  <p class="chat-delta"></p>
                </div>
                <div class="card-details">
                  <p class="title"></p>
                  <p class="place"></p>
                  <p class="date"></p>
                  <p class="time"></p>
                  <p class="detail"></p>
                </div>
                <div class="card-btn" style="display: none;">
                  <a id="intentionalBtn" class="intentional-btn" onclick="requestClicked()">ヒマリク</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="top-right col-md-3">
      <div class="recommendation">
        <label for="recommendation" class="event-label">おすすめ</label>
        <select class="form-control" id="recommendation" name="recommendation" onchange="searchRecom()">
          <option value="" selected>選択してください</option>
          <option value="おすすめユーザー">おすすめユーザー</option>
          <option value="おすすめイベント">おすすめイベント</option>
        </select>
      </div>

      <div class="category-list">
        <label for="category" class="event-label">カテゴリー</label>
        <select class="form-control" id="category" name="category" onchange="searchCategory()">
          <option value="" selected>選択してください</option>
          <option value="アウトドア">アウトドア</option>
          <option value="カフェ巡り">カフェ巡り</option>
          <option value="カラオケ">カラオケ</option>
          <option value="ガーデニング">ガーデニング</option>
          <option value="ゲーム">ゲーム</option>
          <option value="サイクリング">サイクリング</option>
          <option value="ショッピング">ショッピング</option>
          <option value="スポーツ">スポーツ</option>
          <option value="スポーツ観戦">スポーツ観戦</option>
          <option value="ダンス">ダンス</option>
          <option value="トレーニング">トレーニング</option>
          <option value="ドライブ">ドライブ</option>
          <option value="ハイキング">ハイキング</option>
          <option value="ペット">ペット</option>
          <option value="写真">写真</option>
          <option value="写真撮影">写真撮影</option>
          <option value="手芸">手芸</option>
          <option value="手芸・DIY">手芸・DIY</option>
          <option value="料理">料理</option>
          <option value="旅行">旅行</option>
          <option value="映画">映画</option>
          <option value="映画鑑賞">映画鑑賞</option>
          <option value="絵画">絵画</option>
          <option value="読書">読書</option>
          <option value="釣り">釣り</option>
          <option value="音楽">音楽</option>
          <option value="音楽鑑賞">音楽鑑賞</option>
          <option value="その他">その他</option>
        </select>
      </div>
    </div>
  </div>
</div>

<script>
  var csrfToken = '{{ csrf_token }}';
</script>
{% endblock %}