{% extends "base.html" %}
{% block title %}トップページ{% endblock %}
{% block content %}
<div class="container col-md-6">
  <div class="explanation">
    <h3>使い方</h3>
    <p>
      このアプリは予定のマッチングを簡単にするアプリです<br>
      自分の予定をプロフィールにあるカレンダーに打ち込み、<br>
      それにマッチするユーザからリクエストが送られてきます<br>
      自動的に、自分の暇な時間にマッチし、<br>
      共通点のあるユーザーが選択肢に上がることもあります<br>
      あるいは、自分で検索し、予定の合う友人を見つけるのもありです<br>
      その中で自分からリクエストを送り、レスポンスがあった場合、<br>
      チャットで予定を決めれば、少しは楽になるかと思います<br>
    </p>
  </div>
</div>
{% endblock %}