body {
  background-color: black !important;
  color: white !important;
  margin: 0;
  padding: 0;
}

.checkbox-pointer {
  cursor: pointer;
}

.checkbox-pointer input[type="checkbox"],
.checkbox-pointer label {
  cursor: pointer;
}

.logout-btn {
  position: relative;
  margin: auto 0;
}

.logout-popup {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  padding: 8px 16px;
  position: absolute;
  z-index: 1;
  top: 200%;
  margin-left: -200px;
  letter-spacing: 1.2px;
}

.logout-btn:hover .logout-popup {
  visibility: visible;
}

.phone-logout-popup {
  visibility: hidden;
  width: 200px;
  color: black;
  border-radius: 20px;
  padding: 8px 16px;
  position: absolute;
  z-index: 1;
  letter-spacing: 1.2px;
  border: 1px solid #6C757D;
  background-color: #fff;
  font-size: 14px;
}

.phone-logout-btn:hover .phone-logout-popup {
  visibility: visible;
}

.navigation-menu {
  display: flex;
}
/*
hamburger(ハンバーガーアイコン)
=================================== */
.nav-wrapper {
  display: none;
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 30px;
  height: 2px;
  right: 0;
  background-color: #000;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
  background-color: #fff;
}

.hamburger__line--2 {
  top: 12px;
  background-color: #fff;
}

.hamburger__line--3 {
  top: 24px;
  background-color: #fff;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
  background-color: black;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
  background-color: black;
}

/*
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  right: -100%;
  /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 70%;
  /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #ffffff;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto;
}

.sp-nav ul li a {
  color: black;
}

.sp-nav ul li a:hover {
  color: black;
}

.sp-nav ul {
  margin-top: 40px;
}

.sp-nav ul li {
  margin-bottom: 20px;
  letter-spacing: 1.2px;
}

.sp-nav ul li:hover {
  transition:.3s;
  transform: rotate(2deg);
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  right: 0;
}

/*
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.5;
  visibility: visible;
}

@media (max-width: 810px) {
  .nav-wrapper {
    display: block;
  }
  .navigation-menu {
    display: none;
  }
}

/* ボタン */
.confirm-btn {
  font-size: 14px;
  letter-spacing: 1.2px;
  color: black;
  border-radius: 5px;
  padding: 6px 12px;
  background: #fff;
  margin-bottom: 18px;
  border: none;
}
.confirm-btn:hover {
  color: #fff;
  background: rgb(62, 105, 213);
}

.intentional-btn {
  font-size: 12px;
  border: 1px solid rgb(146, 147, 152);
  color: black;
  border-radius: 5px;
  padding: 6px 12px;
  background: #fff;
  margin-bottom: 18px;
  text-decoration: none;
}
.intentional-btn:hover {
  color: #fff;
  background: rgb(62, 105, 213);
  border: 1px solid rgb(62, 105, 213);
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

header {
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(178, 173, 173);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  padding-top: 100px;
}

.header-link {
  color: white;
  text-decoration: none;
  letter-spacing: 1.2px;
}

.header-left {
  font-size: 22px;
  letter-spacing: 1.3px;
  margin-left: 40px;
}

.header-right {
  padding: 10px;
  margin-right: 10px;
  position: relative;
}

.header-right::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s ease;
}

.header-right:hover {
  color: #fff;
}
.header-right:hover::after {
  width: 100%;
}

.head {
  margin-right: 40px;
}

/* 新規登録 */

.signup-card {
  border: 1px solid #777373;
  border-radius: 10px;
  padding: 20px 20px;
}

.form-group label {
  margin-bottom: 5px;
}

.password-input {
  position: relative;
}

.eye-awesome {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  font-size: 14px;
}

/* ソーシャルログイン */

.google-login {
  margin-top: 10px;
}

.social-login {
  margin-top: 100px;
  padding: 30px 60px;
  border: 1px solid #fff;
  border-radius: 20px;
  letter-spacing: 1.2px;
}

.social-login-btn {
  padding: 5px 10px;
  border: 1px solid #fff;
  margin-bottom: 0;
  letter-spacing: 1.2px;
}

.social-content {
  line-height: 40px;
}

/* ログイン */

.login-card {
  border: 1px solid #777373;
  border-radius: 10px;
  padding: 20px 20px;
  margin-top: 100px;
}

/* プロフィール */

.profile-image-size {
  width: 100px;
  height: 100px;
  border: 1.5px solid rgb(74, 74, 79);
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
}

.profile-edit {
  font-size: 12px;
  border: 2px solid rgb(154, 154, 162);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 12px;
  background: black;
  text-align: center;
  margin: 0 auto;
}

.profile-edit:hover {
  color: black;
  background: #fff;
  border: 2px solid black;
  cursor: pointer;
}

.profile-top {
  margin-top: -70px;
  margin-left: 160px;
}

.profile-username {
  font-size: 24px;
  letter-spacing: 1.2px;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 20px;
}

.profile-info {
  display: flex;
}

.phone-profile-info {
  display: none;
}

.profile-image-link {
  display: flex;
  flex-direction: column;
}

.profile-content {
  font-size: 14px;
}

.hobby-interest {
  margin-left: 160px;
}

.hobby-interest ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.hobby-list {
  margin-right: 15px;
  border: 1.5px solid rgb(156, 158, 161);
  color: rgb(156, 158, 161) !important;
  border-radius: 20px;
  padding: 6px 12px;
  margin-bottom: 10px;
}


.interest-list {
  margin-right: 15px;
  border: 1.5px solid rgb(156, 158, 161);
  border-radius: 20px;
  color: rgb(156, 158, 161);
  padding: 6px 12px;
  margin-bottom: 10px;
}

.event-edit-form {
  margin: 40px;
}

.close-btn {
  margin: auto 0;
}

.close-btn:hover {
  cursor: pointer;
}

.close-card-btn {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 20px;
  display: none;
}

.close-card-btn:hover {
  cursor: pointer;
}

.modal-image {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.card-delete-modal {
  color: black;
  letter-spacing: 1.2px;
  font-weight: lighter;
}

@media (max-width: 550px) {
  .hobby-list {
    font-size: 12px;
  }

  .interest-list {
    font-size: 12px;
  }

  .profile-info {
    display: none;
  }

  .phone-profile-info {
    display: flex;
  }

  .profile-username {
    font-size: 20px;
    margin-top: 5px;
  }

  .phone-profile-info-content {
    max-width: 80%;
  }

  .profile-edit {
    margin-left: 20px;
  }

  .follow {
    margin-left: 20px;
  }

  .profile-image-size {
    width: 80px;
    height: 80px;
  }

  .profile-image-link {
    display: block;
  }

  .profile-top {
    margin-top: 20px;
    margin-left: 60px;
  }

  .hobby-interest {
    margin-left: 60px;
  }

  .hobby-interest ul {
    padding: 0;
  }

  .event-edit-form {
    margin: 20px;
  }

  .close-card-btn {
    display: block;
  }

  .edit-form {
    margin: 30px !important;
  }

  .hobby-info label {
    font-size: 12px;
  }

  .interest-info label {
    font-size: 12px;
  }

  #partial-modal-content {
    height: 400px;
  }
}

/* フォロー */

.follow {
  text-align: center;
  font-size: 12px;
  border: 1px solid rgb(154, 154, 162);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 12px;
  background: black;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.follow:hover {
  cursor: pointer;
  color: #fff;
  transform: translateX(-5px);
  transition: transform 0.3s ease;
}

.follow-btn {
  background-color: rgb(29, 69, 170);
  color: #fff;
  border: 1px solid rgb(29, 69, 170);
}

.follow-count {
  display: flex;
  margin-bottom: 10px;
}

.profile-follow {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.profile-follow:hover {
  color: #fff;
}

.profile-follower {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.profile-follower:hover {
  color: #fff;
}

.profile-tab {
  margin-bottom: 20px !important;
}

/* 赤丸 */

.follower-indicator {
  font-size: 10px;
  margin-left: 5px;
}

.unread-indicator {
  font-size: 10px;
}

.hamburger-indicator {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.modal-title {
  color: black;
  font-size: 14px;
  margin: 0 auto;
}

.follow-modal-content {
  color: black;
}

.follow-image-size {
  width: 45px;
  height: 45px;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
  margin-right: 10px;
}

.follow-link {
  text-decoration: none;
  color: black;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(200, 196, 196);
}

.follow-link:hover {
  color: black;
}

.follower-link {
  text-decoration: none;
  color: black;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(200, 196, 196);
}

.follower-link:hover {
  color: black;
}

/* プロフィール編集ページ */
.profile-edit-page {
  border: 2px solid #b1acac;
  border-radius: 10px;
}

.edit-form {
  margin: 40px;
}

/* 区切り線 */
.separator {
  border: 1px solid rgb(226, 220, 220);
  margin-bottom: 20px;
}

/* カレンダー */
#calendar {
  max-width: 80%;
  padding-top: 10px;
  margin: 0 auto;
  cursor: pointer;
}

.fc .fc-toolbar-title {
  font-size: 18px;

}

.fc .fc-daygrid-day, .fc .fc-daygrid-day-number, .fc .fc-col-header-cell-cushion {
  text-decoration: none;
  color: inherit;
}

.fc .fc-daygrid-day:hover, .fc .fc-daygrid-day-number:hover, .fc .fc-col-header-cell-cushion:hover {
  text-decoration: none;
  color: inherit;
}

.fc .fc-daygrid-day-events .fc-event-title {
  font-size: 18px;
  letter-spacing: 1.2px;
}

.calendar-label {
  color:black;
  margin-top: 15px;
}

.fc .fc-event {
  cursor: pointer;
}

.other-modal {
  color: black;
}

.modal-selected {
  margin: 0 auto;
}

.otheruser-data {
  margin-left: 40px;
}

.fc .fc-today-button {
  display: none;
}

.calendar-tab {
  margin-left: 20px;

}

@media (max-width: 950px) {
  #calendar {
    max-width: 100%;
  }

  .calendar-tab {
    margin-left: 5px;
    font-size: 16px;
  }

  .fc .fc-toolbar-title {
    font-size: 16px;
    letter-spacing: 1.2px;
  }
}

@media (max-width: 900px) {
  .fc .fc-daygrid-day-events .fc-event-title {
    font-size: 12px;
    letter-spacing: 1.2px;
  }
}

@media (max-width: 460px) {
  #calendar {
    height: 450px;
  }
}

/* 部分的な時間 */
#partial-modal-content {
  cursor: pointer;
  color: black;
}

.fc .fc-day-today {
  background: none !important;
}

.fc .fc-col-header-cell {
  display: none;
}

.fc thead {
  display: none;
}

.fc .fc-highlight {
  background-color: black;
  opacity: 0.3;
}

/* 画像用モーダル */
.modal {
  background-color: rgba(0,0,0,0.6);
}

.modal-image {
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* リスト */

.request-list {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first-match-p {
  margin-left: 5px;
}

.request-image-size {
  width: 50px;
  height: 50px;
  border: 1.5px solid rgb(74, 74, 79);
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
}

.request-profile-link {
  text-decoration: none;
}

.request-btn {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.approval-btn {
  margin-right: 5px;
  border-radius: 10px;
  font-size: 12px;
  color: #fff;
  background-color: rgb(48, 73, 196);
  padding: 6px 12px;
  border: none;
  letter-spacing: 1.2px;
}

.approval-btn:hover {
  opacity: 0.8;
}

.rejection-btn {
  margin-right: 5px;
  border-radius: 10px;
  font-size: 12px;
  color: #fff;
  background-color: rgb(192, 45, 85);
  padding: 6px 12px;
  border: none;
  letter-spacing: 1.2px;
}

.rejection-btn:hover {
  opacity: 0.8;
}

.rejection-btn-calendar-container {
  text-align: right;
}

.rejection-btn-event-container {
  text-align: right;
}

.request-nav .nav-link {
  color: #fff;
}

.request-nav .nav-link:hover {
  color: #fff;
}

.response-list {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* リクエストリストページ　イベント詳細 */

.request-event-detail {
  flex-direction: column;
}

.event-detail-link {
  text-decoration: none;
  color: #afaaaa;
  font-size: 12px;
  cursor: pointer;
  margin-left: auto;
}

.event-detail-link:hover {
  color: #fff;
}


/* メッセージ */

.response-message {
  background-color: #85B4B2;
  color: black;
  padding: 8px 16px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
}

/*　チャット */

.chat {
  display: inline-block;
  font-weight: bold;
  transition:.3s;
  text-decoration: none;
  color:rgb(62, 105, 213);
  margin-left: 100px;
  margin-bottom: 10px;
}

.chat:hover {
  transition:.3s;
  transform: rotate(2deg);
}

.chat-btn {
  font-size: 12px;
  color: black;
  border-radius: 5px;
  padding: 6px 12px;
  background: #fff;
  margin-top: 15px;
  border: none;
  margin-left: 20px;
}
.chat-btn:hover {
  color: #fff;
  background: rgb(62, 105, 213);
  border: none;
}

.chat-content {
  display: flex;
  margin-bottom: 40px;
}

.receiver-chat {
  margin: auto 0;
  letter-spacing: 1.2px;
  border-radius: 15px;
  background-color: #262626;
  padding: 7px 14px;
  max-width: 60%;
  word-wrap: break-word;
}

.sender-chat {
  margin: auto 0;
  letter-spacing: 1.2px;
  border-radius: 15px;
  background-color: #3897F0;
  padding: 7px 14px;
  margin-right: 30px;
  max-width: 60%;
  word-wrap: break-word;
}

.send-awesome {
  font-size: 20px;
  margin: auto 0;
  margin-right: 30px;
}

.send-awesome:hover {
  cursor: pointer;
}

.chat-list-indicator {
  margin-left: auto;
}
.chat-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(185, 185, 177);
  text-decoration: none;
  margin-top: 20px;
}

.chat-list-image {
  margin-bottom: 15px;
  flex-shrink: 0;
}

.list-indicator {
  text-align: center;
  margin-bottom: 5px;
  margin-right: 10px;
}

.list-message {
  color: rgb(115, 117, 123) !important;
  margin-left: 10px;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-wrapper {
  width: 100%;
  margin: auto;
}

.chat-input {
  display: flex;
  align-items: center;
  border: 1px solid #363636;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
}

#chat-message-input {
  flex-grow: 1;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
}

#chat-message-input:focus {
  outline: none;
}

#chat-message-submit {
  font-size: 16px;
}

.chat-full-container {
  overflow-y: auto;
  height: 750px;
  position: relative;
}

.chat-full-container::-webkit-scrollbar {
  display: none;
}

.chat-delta {
  font-size: 12px;
  letter-spacing: 1.1px;
  color: rgb(115, 117, 123);
  margin: auto 0;
  margin-left: auto;
  margin-right: 10px;
  flex-shrink: 0;
}

.sender-last-message {
  margin-left: auto;
  margin-bottom: 0;
  margin-top: auto;
}

.chat-current-delta {
  font-size: 12px;
  letter-spacing: 1.2px;
  color: rgb(115, 117, 123);
  margin-right: 8px;
  margin-bottom: 0;
  margin-top: auto;
}

.chat-other-delta {
  font-size: 12px;
  letter-spacing: 1.2px;
  color: rgb(115, 117, 123);
  margin-right: 10px;
  margin-left: 8px;
  margin-bottom: 0;
  margin-top: auto;
}

.chat-room-image {
  width: 35px;
  height: 35px;
  border: 1.5px solid rgb(74, 74, 79);
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
}

/* centerd-container */

.centered-container {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.suggestion-container {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}

@media (max-height: 850px) {
  .chat-full-container {
    height: 600px;
  }
}

@media (max-height: 730px) {
  .chat-full-container {
    height: 500px;
  }
}

@media (max-width: 500px) {
  .chat-delta {
    font-size: 10px;
  }

  .list-message {
    margin-left: -5px;
    max-width: 55%;
  }

  .centered-container {
    font-size: 16px;
  }

  .suggestion-container {
    font-size: 16px;
  }
}

/* 検索 */

.last-calendar {
  margin-left: auto;
  margin-right: 10px;
  color: #fff;
}

.search-list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 8px;
  color: #fff;
}

.search-results {
  border-bottom: 1px solid #827e7e;
}

.search-results-list {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 10px;
}

#search_content_tab {
  display: none;
}

@media (max-width: 768px) {
  #search-content {
    display: none;
  }

  #search_content_tab {
    display: block;
  }
}

/* イベントページ 作成 */

.event-page {
  margin-top: 40px;
  border: 2px solid #837e7e;
  border-radius: 10px;
}

.event-label {
  padding-bottom: 10px;
  letter-spacing: 1.2px;
}

#date-calendar {
  color: black;
}

#time-calendar {
  color: black;
}

.event-card-size {
  width: 100%;
  height: 120px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
}

.confirmed-event-card-size {
  width: 100%;
  height: 120px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
  opacity: 0.5;
}

/* オーバレイテキスト */

.overlay-text {
  position: absolute;
  top: 25%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: rgb(179, 70, 70);
  font-size: 18px;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.event-image-size {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.black {
  color: black;
}

.event-card {
  margin-top: 15px;
  cursor: pointer;
}
.event-card:hover {
  opacity: 0.8;
}

.card {
  border: none !important;
}

.card-b {
  height: 120px;
  overflow: hidden;
}

.card-f {
  display: flex;
  margin: auto 0;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.card-name {
  margin: auto 0;
  margin-left: 5px;
  font-size: 12px;
  color: #817e7e;
}

@media (max-width: 500px) {
  #date-calendar {
    height: 400px;
  }

  #time-calendar {
    height: 400px;
  }
}

/* カードモーダル */

.card-modal {
  display: flex;
}

.card-modal-left {
  width: 50%;
  background-color: rgba(183, 179, 179, 0.3);
}

.card-modal-image {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.card-modal-right {
  width: 50%;
  position: relative;
  background-color: black;
}

.card-modal-image-size {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.card-modal-name {
  font-size: 14px;
  padding-left: 20px;
  margin: auto 0;
  color: #fff;
}

.card-details {
  max-height: 350px;
  overflow-y: scroll;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.card-details::-webkit-scrollbar {
  display: none;
}

.card-modal-profile {
  display: flex;
  margin: auto 0;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #b7b3b3;
}

/* トップページ */

.top-content {
  display: flex;
}

.category-list {
  margin-left: 30px;
}

.top-card-modal {
  display: flex;
  text-decoration: none;
}

.card-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.content {
  padding-top: 80px;
}

.phone-size-category-list {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.recommendation {
  margin-bottom: 20px;
  margin-left: 30px;
}

.phone-size-recommendation {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.recommend-user {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .phone-size-category {
    display: block !important;
  }

  .phone-size-recommendation {
    display: block !important;
  }
  .top-right {
    display: none;
  }

  .top-content {
    display: block;
  }

  .card-modal {
    display: block;
  }

  .card-modal-left {
    width: 100%;
  }

  .card-modal-image {
    height: 350px;
  }

  .card-modal-right {
    width: 100%;
    padding-top: 10px;
    height: 400px;
  }

  .card-details {
    max-height: 250px;
  }
}

@media (max-width: 500px) {
  .col {
    padding-left: 8px !important;
    padding-right: 8px !important;
    margin-top: 20px !important;
  }
}

/* カード編集 プロフィールページ */
.card-edit-btn {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#card_editing_modal {
  color: black;
}

.confirm-card-btn {
  font-size: 14px;
  letter-spacing: 1.2px;
  border: 1px solid rgb(206,212,218);
  color: black;
  border-radius: 5px;
  padding: 6px 12px;
  background: #fff;
  margin-bottom: 18px;
}
.confirm-card-btn:hover {
  color: #fff;
  background: rgb(62, 105, 213);
}